/JavaProgOOPS.class
/RemoveAllSpecialchar.class
/RemoveWhiteSpaces.class
/ReverseString.class
/RemoveDupChars.class
/SwapFirstNameLastName.class
/ArraySum.class
/SumTwoReturnIndicesOfTheTwoNumbers.class
/TwoSum.class
